@charset "utf-8";


html {
  font-size: 100%;
}

body {
  font-size: 0.9em;
  background-color: #f0f0f0;
}

header {
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container {
  display: flex;
  align-items: center;
  padding: 20px 8%;

  h1 {
    color: black;
    padding: 8px 24px;
    display: inline-block;
    opacity: 0.8;
    font-size: 22px;
  }

  .icon {
    width: 20px;
  }

  img {
    height: 50px;
    width: 100px;
  }
}

.hcontact {
  height: 80px;
  width: 200px;
  text-align: center;
  line-height: 80px;
  background-color: black;
  color: white;
}

a {
  text-decoration: none;
  color: black;
}

.container nav ul li{
  list-style: none;
  float: left;
  margin-left: 30px;
}

.mainvisual {
  margin-bottom: 100px;
  
  img {
    height: calc(100vh - 80px);
    width: 100%;
    object-fit: cover;
  }
  
}

.news {
  max-width: 1032px;
  width: 100%;
  margin: 0 auto;
  margin-bottom: 80px;

  h2 {
    font-size: 1.5rem;
    display: inline-block;
    margin-bottom: 60px;
    padding-bottom: 10px;
    font-weight: normal;
  }

  .en {
    letter-spacing: 0.3em;
    font-size: 2.25rem;
    margin-bottom: 10px;
    display: block;
  }

  .ja {
    font-size: 0.9rem;
    display: block;
    margin-bottom: 36px;
  }

  .sectionTitle::after {
    content:"";
    height: 1px;
    width: 40px;
    background-color: black;
    display: block;
  }

  ul {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px; 
  }

  li {
    border-right: solid 1px black;
    width: calc(100%/3);
    list-style: none;
    padding: 10px 20px;

    .dateArea {
      margin-bottom: 10px;

      span {
        background-color: black;
        color:white;
        width: 50px;
        height: 20px;
        line-height: 20px;
        margin-left: 10px;
        display: inline-block;
        font-size: 0.85em;
        text-align: center;
      }
    }
    &:last-child {
      border-right: none;
    }
  }
}

.about {
  height: 600px;
  padding: 0 4%;
  display: flex;
  margin-bottom: 20px;
  
  h2 {
    font-size: 1.5rem;
    display: inline-block;
    margin-bottom: 60px;
    padding-bottom: 10px;
    font-weight: normal;
  }
  .aboutContainer {
  
    .aboutImg {
      width: 55%;

      img {
        height: 350px;
        object-fit: cover;
      }   
    }
  }
  .text {
    width: 45%;
    padding: 180px 5% 0 5%;
    p {
      line-height: 2.2;
    }
  }
  .title {
    letter-spacing: 0.3em;
    font-size: 2.25rem;
    margin-bottom: 10px;
    display: block;
  }
  .comment {
    font-size: 0.9rem;
    display: block;
    margin-bottom: 36px;
  }
  .sectionAbout::after {
    content:"";
    height: 1px;
    width: 40px;
    background-color: black;
    display: block;
  }
}

.business {
  padding: 0 16px;
  margin: 0 auto;
  align-items: center;
  width: 100%;
  max-width: 1032px;
  margin-bottom: 20px;
  h2 {
    font-size: 1.5rem;
    display: inline-block;
    margin-bottom: 60px;
    padding-bottom: 10px;
    font-weight: normal;
  }
  .businessContainer {
    display: flex;
    justify-content: space-between;
    padding: 0 16px;
    margin: 0 auto;

 
    img {
      max-width: 100%;
    }   

    .leftBusiness {
      width: 46%;
      margin-top: 100px;;
    }
    .rightBusiness {
      width: 46%;
    }
    .item {
      margin-bottom: 100px;
    }
    .title{
      font-weight: bold;
      margin: 0 0 10px 18px;
      font-size: 0.85rem;
      position: relative;
    }

  }
  .text {
    width: 45%;
    padding: 180px 5% 0 5%;

    p {
      line-height: 2.2;
    }
  }
  .title::before{
    content:"";
    height: 1px;
    width: 8px;
    background-color: black;
    display: block;
    position: absolute;
    top: 50%;
    left: -4%;
  }
  .title {
    letter-spacing: 0.3em;
    font-size: 2.25rem;
    margin-bottom: 10px;
    display: block;
  }
  .comment {
    font-size: 0.9rem;
    display: block;
    margin-bottom: 36px;
  }
  .sectionBusiness::after {
    content:"";
    height: 1px;
    width: 40px;
    background-color: black;
    display: block;
  }
}

.company {
  height: 750px;
  display: flex;
  padding: 0 16px;
  margin: 0 auto;
  align-items: center;
  width: 100%;
  max-width: 1032px;
  position: relative;
  .en {
    letter-spacing: 0.3em;
    font-size: 2.25rem;
    margin-bottom: 10px;
    display: block;
  }
  .ja {
    font-size: 0.9rem;
    display: block;
    margin-bottom: 36px;
  }
  .text {
    width: 55%;
    background-color: white ;
    padding: 100px 8% 100px 6%;
    position: absolute;
    top: 0;
    left: 0;
  }
  h2 {
    font-size: 1.5rem;
    display: inline-block;
    margin-bottom: 60px;
    padding-bottom: 10px;
    font-weight: normal;
  }
  img {
    height: 400px;
    width: 53%;
    position: absolute;
    top: 135px;
    right: 0;
    object-fit: cover;
  }  
  dl {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }

  dt {
    width: 20%;
    margin-top: 15px;
  }

  dd {
    width: 80%;
    margin-top: 15px;
  }
  .memo {
    margin-left: 117px;
  }
  .sectionCompany::after {
    content:"";
    height: 1px;
    width: 40px;
    background-color: black;
    display: block;
  }
}

footer {
  background-color: white;
  color: black;
  padding-bottom: 50px;
  .footerContainer {
    display: flex;
    justify-content:space-between;
    width: 100%;
    max-width: 1032px;
    padding: 40px 16px;
    margin: 0 auto;
    align-items: center;
    p {
      line-height: 1.5;
    }
  }
  img {
    height: 50px;
    width: 100px;
  }
  .allRights {
    padding-left: 215px;
    font-size: 0.5rem;
  }
}
.works::after {
  content: "";
  display: block;
  clear: both;
}


@media screen and (max-width: 900px) {
  header {
    max-width: 100%;
    height: auto;
  }

  .hcontact {
    display: none;
  }

  .container {
    padding: 15px 0;
    flex-direction: column;
    align-items: flex-start;
    nav {
      flex-wrap: wrap;
      ul {
        padding: 5px 0;

        li {
          margin-left: 20px;
        }
      }
    }
  }
  
  .mainvisual {
    img {
      height: calc(100vh - 60px);
    }
  }

  .news {
    h2 {
      margin-left: 15px;
    }
  }

  .about {
    height: auto;
    display: block;
    margin-bottom: 80px;
    padding: 0;

    h2 {
      margin-bottom: 30px;
    }

    .aboutContainer {
      flex-direction: column;
      margin-bottom: 30px;
      .aboutImg {
        width: 100%;
        img {
          height: 300px;
          margin-right: 0px;
          width: 100%;
        }
      }
    }
    .text {
      width: 100%;
      padding: 0;
      margin-left: 15px;
    }
  }
  
  .business {
    margin-bottom: 20px;
    h2 {
      margin-bottom: 40px;
    }
    .businessContainer {
      flex-direction: column;

      .leftBusiness {
        width: 100%;
        margin-top: 0px;
      }
      .rightBusiness {
        width: 100%;
      }
    }
    .comment {
      margin-bottom: 20px;
    }
  }

  .company {
    height: auto;
    display: block;
    position: static;

    .text {
      width: 100%;
      position: static;
    }
    h2 {
      margin-bottom:20px;
    }
    img {
      width: 100%;
      position: static;
      top: 0;
    }  
  }
  footer {
    .footerContainer {
      display: block;
    }
    img {
      height: 50px;
      width: 100px;
    }
    .allRights {
      padding-left: 15px;
    }
  }
}
